* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

#container {
    height: 100%;
    width: 100%;
    background-image: url(image/fone_01.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 8%;
    padding-top: 2%;
}

#container .logo{
    width: 100px;
    background: white;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    padding: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    background: linear-gradient(white 0 0) bottom /var(--t, 0)2px no-repait;
    transition: .5s;
}

.navbar ul li a:hover {
    --t: 100%;
}

