<link rel="stylesheet" href="log_in_stile.css">
<div class="login">
    <h1>Вход в систему</h1>
    <form action="/check-user" method="post" >
        <input type="text" name="u" placeholder="Логин" required="required" />
        <input type="password" name="p" placeholder="Пароль" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Войти</button>
    </form>
</div>